<div class="container p-3 fondo">
    
    <mat-list class="p-2">
        <mat-divider></mat-divider>
        <mat-list-item>Ingrese la Cantidad</mat-list-item>
        <mat-divider></mat-divider>
            <mat-form-field appearance="fill" class="mt-2 ancho">
                <mat-label>{{textoInput}}</mat-label>
                <input matInput [(ngModel)]="cantidad">
            </mat-form-field>
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col-lg-6">

                <mat-list-item>Tengo</mat-list-item>
                <mat-divider></mat-divider>

                    <mat-form-field appearance="fill" class="mt-3 ancho">
                        <mat-label>Select</mat-label>
                        <mat-select [(ngModel)]="tengo">
                            <mat-option *ngFor="let moneda of monedas" [value]="moneda">{{moneda}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                
                <mat-divider></mat-divider>

            </div>
            <div class="col-lg-6    ">

                <mat-list-item>Quiero</mat-list-item>
                <mat-divider></mat-divider>

                <mat-form-field appearance="fill" class="mt-3 ancho">
                    <mat-label>Select</mat-label>
                    <!--realizo Two-Way Data Binding mediante el ngModel realizo un enlace de datos bidireccional
                    entre el ts y el html-->
                    <mat-select [(ngModel)]="quiero">
                        <!--Utilizo directiva ngFor para iterar el array monedas-->
                        <mat-option *ngFor=" let moneda of monedas" [value]="moneda">{{moneda}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-divider></mat-divider>
            </div>
        </div>
    </mat-list>
    <mat-divider></mat-divider>
    <h2 class="text-center mt-3">
        <span class="badge bg-success">{{cantidad}} {{tengo}}</span>
        <span class="badge bg-secondary">SON</span>
        <span class="badge bg-success">{{total}} {{quiero}}</span>
    </h2>
    <mat-divider></mat-divider>
</div>
